:root 
{
    --main-bkg-color: hsl(185, 75%, 39%);
    --main-text-color: hsl(229, 23%, 23%);
    --sub-text-color: hsl(227, 10%, 46%);
    --bottom-border-color: hsl(0, 0%, 59%);
}

html 
{
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body 
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    color:  hsl(0, 11%, 12%);
    background: var(--main-bkg-color);
    height: 100vh;
}

.card
{
    width: 350px;
    height: 400px;
    border-radius: 5.25%;
    background: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.card_header 

    background-image: url(images/bg-pattern-card.svg);
    background-size: cover;
    height: 150px;
}

.img_holder 
{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
    margin: -50px auto 30px auto; 
}

.img_holder img
{
    width: 100%;
    height: auto;
    display: block;
}

.card_body 
{
    padding: 0 20px 25px;
}

.age,
.city,
.value_name 
{
    font-weight: 400;
    color: hsl(0, 11%, 12%);
    opacity: .6;
}

.name_age 
{
    font-size: 1.1rem;
    margin-bottom: 12px;
}

.city 
{
    font-size: .9rem;
}

.age
{
    font-weight: 400;
    margin-left: 6px; 
}

.card_footer
{
    border-top: 1px solid hsl(0 0% 86%);
    display: flex;
    padding: 0px 30px;
}

/* .card_footer .item 
    * Make container to a flex-contaier 
    * flex items grow evenly taking up the available space 
    inside their flex container.
    * flex-direction: column have the flex items position 
    vertically 
*/

.card_footer .item
{
    display: flex;
    flex: 1;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__footer .item .value
{
    font-size: 1rem;
    margin-bottom: 5px;
}

.card__footer .item .value__name 
{
    font-size: .6rem;
    letter-spacing: 1px;
}

/* Graphic (Circles) */

.circles .c1,
.circles .c2
{
    position: absolute;
}

.circles .c1
{
    top: -500px;
    left: -130px;
}

.circles .c2
{
    bottom: -600px;
    right: -100px;
}

@media screen and (max-width: 900px) 
{
    .circles .c1
    {
        top: -480px;
        left: -650px;
    }
    
    .circles .c2
    {
        bottom: -600px;
        right: -490px;
    }
}

/* FOOTER */
.attribution 
{
    position: fixed;
    bottom: 0px;
    right: 0px;
}


